<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="static/dashboard/dashboardStyles.css">
    <link rel="stylesheet" href="static/dashboard/confirmDelete.css">
    <link rel="stylesheet" href="static/dashboard/alertStyles.css">
    <link rel="stylesheet" href="static/dashboard/shareManagerStyles.css">
</head>
<body>

    <div class="header">
        <h1 class="title">Grocery lists</h1>
        <button class="notification-icon">
            <img src="/static/dashboard/images/read.svg" alt="Icon">
        </button>
    </div>
    
    <div class="lists">
        <!-- <div class="list List1">
            <div class="list-header">
                <h2 class="list-title">List 1</h2>
                <h2 class="list-date">04.28.25</h2>
            </div>
            <hr class="list-hr">
            <div class="list-items">
                <div class="item-div">
                    <button class="item-checkButton" data-checked="false" onclick="clickCheckbox(this)"></button>
                    <p class="item">Hello</p>
                    <p class="item-quantity">x3</p>
                </div>
            </div>
            <hr class="list-hr">
            <div class="list-footer">
                <button class="edit-list">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#02d480"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg>
                </button>
                <button class="delete-list" onclick="deleteList(`List1`)">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ff0000"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>
                </button>
            </div>
        </div> -->
    </div>

    <button class="create-list" onclick="window.location.href = '/new-list'">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 14 14"><!-- Icon from Streamline by Streamline - https://creativecommons.org/licenses/by/4.0/ --><path fill="#fff" fill-rule="evenodd" d="M8 1a1 1 0 0 0-2 0v5H1a1 1 0 0 0 0 2h5v5a1 1 0 1 0 2 0V8h5a1 1 0 1 0 0-2H8z" clip-rule="evenodd"/></svg>
        <span class="create-list-tooltip">New List</span>
    </button>

    <div class="overlay"></div>
    <div class="deleteConfirmDiv"></div>
    <div class="shareManagerDiv"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="/static/dashboard/checkbox.js"></script>
    <script src="/static/dashboard/loadLists.js"></script>
    <script src="/static/dashboard/deleteList.js"></script>
    <script src="/static/dashboard/sendAlert.js"></script>
    <script src="/static/dashboard/notificationStatus.js"></script>
    <script src="/static/dashboard/ShareManager.js"></script>
</body>
</html>