.deleteConfirmDiv {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(54, 54, 54);
    height: 250px;
    width: 90%;
    max-width: 390px;
    visibility: hidden;
    font-family: 'Arial', sans-serif;
}
.deleteConfirmDiv:has(.confirmation-header) {
    visibility: visible;
    z-index: 1000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

.confirmation-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 190px;
}

.confirmation-footer button {
    height: 60px;
    width: 90px;
    border-radius: 10px;
    border: none;
    font-size: 19px;
    color: white;
}

.confirm-delete {
    background-color: red;
}
.cancel-delete {
    background-color: #02d480;
}

.confirmation-title {
    color: white;
}


.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    opacity: 0;
    pointer-events: none;
}

hr {
    color: #02d480;
    background-color: #02d480;
    border: none;
    height: 2px;
    width: 90%;
    margin: 0 auto;
}